mixin scripts(scripts)
	each name in scripts
		- src = 'js/' + name;
		script(src=src)

<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Цены
	link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext", rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic-ext", rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="./css/styles.min.css")
body
	.wrapper
		include blocks/header
		include blocks/c-forms
		include blocks/price
		include blocks/footer
	//Скрипты НАЧАЛО
	+scripts(['jquery.min.js', 'owl.carousel.min.js', 'main.js'])
	//Скрипты КОНЕЦ
	// коммент для теста github