header
	.header
		display: flex
		flex-direction: column
		align-items: center
	.topmenu
		display: flex
		background-color: $clrTopMenu
		height: 60px
	.container
		display: flex
		align-items: center
		justify-content: space-between
	.top-menu-item
		display: flex
		align-items: center
		a 
			color: white
			font-size: 14px
		img
			width: 20px
			height: 20px
			margin-right: 13px
		img.vk
			width: 40px
			height: 24px
			margin-right: 24px
		img.ift
			width: 30px
			height: 30px
			margin-right: 18px
	.socialblock
		padding-left: 200px
	.mainmenu
		display: flex
		height: 130px
	.mainmenu-logobox
		img
			width: 100px
	.mainmenu-menubox
		display: flex
		align-items: center
		justify-content: space-between
		width: 925px
		a
			color: $clrTopMenu
			font-size: 18px
		a.bttn
			color: white






