.titlewrap
	margin: 0 auto
	width: 900px
.pricetext
	padding-bottom: 96px
	tr
		height: 66px
		font-size: 14px
		text-align: center
	td
		border: 1px solid #9E9E9E
	h2
		padding-top: 96px
		padding-bottom: 96px
	h5
		padding-bottom: 60px
		padding-top: 60px
	h6
		padding-top: 60px
.discount
	width: 900px
	margin-bottom: 120px
.title
	width: 900px
	background-color: #3CC2C3
	color: #FFFFFF
	td
		border: 0
tr.big
	font-size: 20px
.r
	width: 213px
	background-color: #FFF2D1
.price
	width: 900px
.course
	background-color: #FBEDBA
	td
		border-top: 0
		border-bottom: 0