		.container
			.aboutustext
				h2 О НАШЕЙ ШКОЛЕ
				.titlewrap
					img(src="images/aboutuspicture.png", alt="speakboy")
					span Школа английского языка Speak Easy работает с 2018 года. Успех школы обусловлен применением уникального аудио-лингвального метода. Преимуществом этого метода является развитие основных навыков владения языком - говорения и восприятия на слух. На момент создания школы существовали и продолжают существовать огромное количество курсов, которые предлагают занятия низкой интенсивности и непродолжительные по времени: 2-4 месяца по традиционной коммуникативной методике.
					h6
					span Неестественная последовательность подачи материала - сначала изучают лексику, грамматические правила и таблицы, затем читают, пишут, и только потом пытаются использовать материал в речи, то есть обучают студентов говорить. Такой непродуктивный подход отражается плохо на развитии восприятия на слух иностранной речи, тормозит развитие навыка свободного говорения, и, как следствие, приводит к быстрому забыванию языкового материала.
					h6 И тогда мы решили открыть свою языковую школу с качественно новым подходом к обучению  😉
					h5 Уникальный аудио-лингвальный метод 😎
					span Наша методика направлена в первую очередь на развитие основного навыка владения языком - говорения (как выражение своих мыслей, а не воспроизведение заученных фраз) и восприятия на слух иностранной речи в естественном темпе звучания. Суть его очень проста. Вспомним, как учит язык новорожденный ребенок. Сначала он слышит, затем понимает, наконец, говорит, и только потом читает и пишет. Так, соблюдая эту последовательность, мы добиваемся прежде всего развития навыков восприятия на слух и говорения, а чтение, письмо и систематизация грамматики ложатся на эту основу естественно и легко.
					h5 Преимущества и особенности школы 🤗
					span Мы проводим бесплатное тестирование для того, чтобы предложить вам занятия в группе соответствующего уровня и подробно рассказываем о курсах. Мы постарались создать максимально комфортную атмосферу, оборудовали классы,обеспечили наличие ценного методического материала. Мы не разбиваем 150-часовой (!) курс на части. Поэтому, по окончании полного, целостного курса, соответствующего одной из ступеней по международной системе, и по результатам экзамена, Вы получаете сертификат не просто о том, что вы прослушали курс, а подтверждающий уровень Вашего владения языком. И мы имеем на это право, так как прошли процедуру обязательного лицензирования образовательных услуг.
					h5 Из чего складывается стоимость курса 🤔
					span  Стоимость курса рассчитывается исходя из стоимости одного академического часа и количества часов. Учитывая целостность курса, соответсвующего оной полной ступени, его длительность составляет в среднем 150 часов. Таки образом, "высокая" стоимость курса складывается из большого количества часов, что является необходимым условием для развития активных навыков использования языка.
					h6 Набор в группы ведется круглый год. Торопитесь занять свое место в группе!		
