.container
	.coursestext
		h2 ДЛЯ ВЗРОСЛЫХ
		.titlewrap
			p Изучение английского языка — одно из самых популярных направлений. Он является средством общения для миллионов жителей планеты и играет важную роль как в профессиональной деятельности, так и в повседневной жизни.
			h5 Особенности методики
			p Школа английского языка для взрослых SpeakEasy проводит обучение по аудиолингвальному методу, позволяющему быстро овладеть разговорной речью. Знакомство с грамматикой и лексикой у взрослых, как и у детей, сначала происходит только на слух с помощью специальных упражнений и приемов, благодаря которым достигается понимание диалогов и текстов. Затем формируется умение самостоятельно говорить, позволяющее выражать свои мысли – речевая активизация. Завершающим этапом является знакомство с печатным текстом и овладение навыками чтения и письма. Уникальная методика, используемая в нашей школе, позволяет достичь поразительных результатов за короткий период.
			h5 Этапы обучения и результаты
			p Если нужны занятия английским языком для взрослых в Нижнем Новгороде индивидуально или в группе, мы подберем оптимальную программу изучения. Первые результаты можно оценить уже после нескольких уроков, которые проходят в спокойной и дружественной атмосфере. Компетентные и внимательные преподаватели вовлекают всех участников группы, сохраняя при этом дифференцированный подход к каждому.
			p Обучение для взрослых состоит из следующих этапов:
			span
				ul.courses-list
					li Первая ступень. Спустя полгода вы сможете рассказывать о работе и семье, свободно ориентироваться в гостинице и аэропорту, станут понятны фразы из иностранных песен.
					li Вторая ступень. Расширяет возможности общения, благодаря навыкам понимания разговорной речи у носителей языка.
					li Третья и четвертая ступени. Дают возможность применять полученные знания в профессиональной деятельности, сдавать международные экзамены и проводить деловые переговоры.
					li Пятая ступень. Открывает двери лучших университетов за рубежом.
			p Хотите учить английский для начинающих с нуля по приемлемой цене — запишитесь на наши языковые курсы для взрослых: поможем вам достичь любой цели!
			h6
				a.block-prices-link(href="#") Посмотреть цены на обучение
