.container
	.article-title-wrap
		h3.traveler Эффективная техника запоминания английских слов
	.articlewrap
		p Запоминать слова при изучении языка можно по-разному. Вот отличная техника запоминания английских слов.	
		img.block(src="images/articlesimg/memory1.jpg", alt="picture")
		p Вы хотели бы знать, как лучше запоминать английские слова? Для начала возьмите словарный список. Словарные списки (тезаурусы) — это группы слов, объединенные общей темой. Например:
			ul
				li Список часто употребляемых глаголов: to be, to go, to do, to have и т. д.
				li Список прилагательных, связанных с погодой: rainy (дождливо), sunny (солнечно), windy (ветрено) и т. д.
				li Список существительных, означающих членов семьи: mother (мать), father (отец), sister (сестра), brother (брат), uncle (дядя) и т. д.
		p Итак, как же их запоминать? Для этого можно сделать следующее.
		h6 Составляйте предложения с каждым словом из списка
		p Просто прочитать и запомнить слово недостаточно, по крайней мере, в большинстве случаев. Но составляя с ним собственные предложения, вы сможете заметно продвинуться вперед. Попробуйте сами, и вы ощутите эффект.
		p Допустим, вам нужно запомнить слово resign (что означает «увольняться», «подавать в отставку»). Вы можете составить с ним следующие предложения:
			ul
				li I am sorry, but I must resign. — Прошу прощения, но я должен уволиться.
				li The new manager is already leaving, he resigned yesterday. — Новый менеджер уже уходит, он вчера уволился.
				li She loves her job and she will never resign. — Она обожает свою работу и никогда не уволится.
		h6 Используйте слова в рассказе
		p Возьмите список слов и составьте с ними короткий рассказ. Совсем необязательно, чтобы рассказ был связным и осмысленным. Если он будет абсурдным — еще лучше! Так веселее.
		p Скажем, вы изучаете глаголы, начинающиеся с буквы E: earn (зарабатывать), eat (есть), end (заканчивать), enjoy (наслаждаться), estimate (оценивать). Вы можете написать вот такой рассказ:
			ul
				li Andy was eating dinner and enjoying a quiet evening, when he started thinking about his future. He estimated the amount of money he must earn. This ended his enjoyment. — Энди ел ужин и наслаждался тихим вечером, когда его начали одолевать мысли о будущем. Он оценил сумму денег, которую обязан был зарабатывать. Это испортило ему настроение.
		img.block(src="images/articlesimg/memory2.jpg", alt="picture")
		h6 Записывайте слова на карточках и тренируйтесь каждый день
		p Словарные карточки — это специальные карточки, которые используются для запоминания информации. На них можно поместить английское слово, перевод на русский, а также фотографию или рисунок.
		p Например, вы можете заготовить набор карточек по теме «еда». На одной стороне карточки напишите слово по-английски, а на другой поместите картинку или перевод этого слова.
		p Словарные карточки — хороший инструмент в изучении нового языка. К тому же, с ними вы можете превратить занятия в игру.
		img.block(src="images/articlesimg/memory3.jpeg", alt="picture")
		h6 Используйте диктанты, чтобы запомнить написание слов
		p Составьте диктант. Вы можете сделать это самостоятельно, просто следуйте этим шагам:
			ul
				li Запишите слова (обычно не более десяти) на листе бумаги. Используйте две колонки: одну для английских слов, другую для перевода.
				li Сверните лист так, чтобы вам был виден только перевод.
				li Возьмите другой лист и записывайте английские слова, соответствующие переводу. Не подглядывайте в ответы! Суть в том, чтобы запомнить написание.
				li Когда закончите, сравните те слова, что вы написали, с теми, что были на первом листе.
		p Даже если с первого раза у вас не все получится, не отчаивайтесь. Сделайте несколько попыток, и вы сами не поверите, как быстро начнете добиваться успеха!
		p Однако, имейте в виду: не стоит отводить на диктанты слишком много времени. Как и карточки, они служат для простого запоминания, а не понимания слов, и поэтому должны быть дополнительным упражнением, но не основным. Если вы не будете практиковаться в использовании этих слов, вы быстро их забудете.
		h6 Тренируйте слова в разговоре с другом
		p Для чего нужны хорошие друзья? Возьмите друга, объясните ему, что вам нужно, и начинайте практиковаться! Составляйте диалоги и пытайтесь использовать как можно больше новых слов. Разговор необязательно должен быть осмысленным, иногда даже веселее, если он получится абсурдным. Важно то, что вы улучшаете свой словарный запас и одновременно получаете повод посмеяться!
	.article-end-wrap
		h6.btnsize Чтобы получать<br>новые статьи,<br>подпишитесь на<br> e-mail рассылку
		h6.links Читайте также:
			ul
				li
					a(href="traveler.html")
						span Английский путешественникам
				li
					a(href="articlerezume.html")
						span Секреты составления резюме
	.blog-box-bttns.article
		a.bttn-yellow(href="#following-page") Подписаться
		a.bttn(href="")
			p Больше статей
			img(src="./images/png/arrow.png", alt="arrow")