//- заказать звонок
#order_call
  #c_form_new
    a.close(href="#")
      img(src="images/png/dash.png")
    h5.cform_header Заказать<br>обратный звонок
    div
      .wrap-form.name
        input.c-form(type='text' value='' name='name' placeholder='Ваше имя')
        p.asterisk *
      .wrap-form.name
        input.c-form(type='text' value='' name='name' placeholder='Ваша фамилия')
        p.asterisk *
      .wrap-form
        input.c-form(type='tel' value='' name='phone' placeholder='Ваш номер телефона')
        p.asterisk *
      .btn
        a.bttn-yellow(href='#callback-15-min') Заказать звонок
//- первый урок бесплатно       
#free-lesson
  #c_form_new
    a.close(href="#")
      img(src="images/png/dash.png")
    h5.cform_header Записаться на<br>БЕСПЛАТНОЕ<br>занятие
    div
      .wrap-form.name
        input.c-form(type='text' value='' name='name' placeholder='Ваше имя')
        p.asterisk *
      .wrap-form.name
        input.c-form(type='text' value='' name='name' placeholder='Ваша фамилия')
        p.asterisk *
      .wrap-form
        input.c-form(type='tel' value='' name='phone' placeholder='Ваш номер телефона')
        p.asterisk *
      .btn
        a.bttn-yellow(href='') Записаться
#following
  #c_form_follow
    a.close(href="#club-close")
      img(src="images/png/dash.png")
    h5.cform_header Подписаться<br>на e-mail рассылку
    div
      .wrap-form.name
        input.c-form(type='text' value='' name='name' placeholder='Ваше имя')
        p.asterisk *
      .wrap-form
        input.c-form(class="c-form" type="email" value="" name='email' placeholder='Ваш e-mail')
        p.asterisk *
      .btn-follow
        a.bttn-yellow(href='') Подписаться
#callback-15-min
  #c_form_callback
    a.close(href="#")
      img(src="images/png/dash.png")
    h6.cform_header Спасибо, что выбрали наш клуб! Сотрудник свяжется с Вами в течение 15 минут.
//- #free-lesson-callback
//-   #c_form_callback
//-     a.close(href="#")
//-       img(src="images/png/dash.png")
//-     h6.cform_header Спасибо, что выбрали нас! Наш сотрудник свяжется с Вами, чтобы уточнить удобную дату и время БЕСПЛАТНОГО занятия.