.container
	.coursestext
		h2 ДЛЯ ДЕТЕЙ И ПОДРОСТКОВ
		.titlewrap
			p.crs Немногие дети могут похвастаться глубокими знаниями английского, полученными в общеобразовательном учреждении. Традиционная методика обучения основана на том, чтобы научить студентов сначала писать и читать, а потом уже разговаривать. Но это в корне неверно. При таком способе подачи информации воспринимать собеседника очень сложно, а разговорная речь остается на низком уровне.
			p.crs Нижегородская языковая школа SpeakEasy применяет аудиолингвальную методику, что позволяет добиться максимально высоких результатов. Если вы ищете курсы английского языка для ребенка, где его действительно научат бегло разговаривать и понимать чужую речь – приходите в SpeakEasy.
			h5 Преимущества раннего изучения
			span Обучение в Language Peak начинается с 7 лет. Ранний старт открывает ряд возможностей для малышей:
				ul.courses-list
					li быстрое и естественное получение разговорных навыков
					li опережение сверстников по уровню интеллектуального развития
					li построение прочного фундамента для дальнейшего изучения языков
			p.crs Для детей с разным уровнем подготовки организуются возрастные группы 7-8, 9-12 и 13-16 лет. Занятия проводятся в игровой форме с музыкой, танцами, уроками рисования, играми на логику и мышление. 
			p.crs Так же мы в течение всего года набираем группы для подготовки к школьным экзаменам.
			p.crs Обучение английскому языку подростков проводится по специальным программам, расширяющих кругозор и повышающих общеобразовательный уровень. Школьная программа для них не представляет никакой сложности.
			h5 Почему стоит учиться именно с нами?
			span 
				ul.courses-list
						li Обучение в школе проводится по специальной аудиолингвальной методике. Преимуществом метода является развитие основных языковых навыков – говорения и восприятия на слух, которые трудно формируются при использовании других методик.
						li Аудиолингвальный метод успешно применяется во многих учебных заведениях и университетах мира на протяжении 15 лет.
						li Стоимость курсов английского языка для школьников и маленьких детей у нас является доступной и зависит от количества человек в группах. 
			h6
				a.block-prices-link(href="price.html") Посмотреть цены на обучение