.container
	.clubtext
		h2 РАЗГОВОРНЫЙ КЛУБ
		.titlewrap
			h6 Нам очень важно, чтобы навыки английского языка у наших студентов улучшались, поэтому на базе нашего центра существует разговорный клуб.
			h6
			h5 Где?
			p В нашем языковом центре SpeakEasy
			h5 Когда?
			p Каждую субботу в 19.00
			h5 Плохо говорю по-английски:
			p Наши встречи подходят для любого уровня английского языка
			h5 Что тут делать?
			li живое общение на любые темы с носителями английского языка
			li обсуждение сложных для носителя русского языка тем
			li раз в месяц - просмотр фильма на английском языке с английскими субтитрами, и, затем, разбор ключевых фраз и фильма
			li бесплатный чай с печеньками
			h5 Сколько стоит?
			p Для наших студентов 
				span.bold 150 рублей 
					span (каждое 5-е посещение бесплатно)
			p Для всех желающих 
				span.bold 300 рублей 
					span (каждое 5-е посещение бесплатно)
		.club-images
			img(class="club_lg" src="images/club/club_lg.png" alt="club")
			.club-img-items
				img(class="club_md" src="images/club/club_md.png")
				.club-img
					img(class="club_sm_left" src="images/club/club_sm_left.png")
					img(class="club_sm_right" src="images/club/club_sm_right.png")