.container
	.coursestext
		h2 ПОДГОТОВКА К ЭКЗАМЕНАМ
		.titlewrap
			p Нижегородская языковая школа SpeakEasy предлагает эффективные курсы подготовки к международным экзаменам по доступным ценам. В среднем курс имеет продолжительность 6 месяцев или 120 академических часов.
			h5 Кому необходима подготовка к международным экзаменам
			span Существует целый ряд причин для получения сертификата о сдаче международных тестов:
				ul.courses-list
					li для поступления в зарубежные вузы на первый курс или в аспирантуру
					li для подачи документов на послевузовские курсы для взрослых и программы MBA
					li для приема на работу за рубежом
					li для получения хорошего рабочего места в России, поскольку работодателей больше не устраивает отметка в резюме о том, что вы умеете читать и переводить с иностранного со словарем
			h5 Разновидности международных тестов
			span В нашей школе проводится подготовка к следующим экзаменам:
				ul.courses-list
					li IELTS – проверка на знание британского английского. Он представлен в двух вариантах: Academic Module и General Module. Первый вариант необходим тем, кто поступает в зарубежные вузы, а второй – для людей, выезжающих на постоянное место жительство в Канаду, Австралию или Новую Зеландию. Международный тест состоит из 4 частей (Reading, Writing, Listening, Speaking), по результатам сдачи которого выдается сертификат сроком на 2 года.
					li FCE (First Certificate in English) – тест для студентов среднего уровня на знание британского английского по абсолютной шкале уровней. Только по результатам успешной сдачи выдается сертификат: 60% — проходной балл (C), 75 % — уровень B, более 80% — высший балл A. В процессе оценивания проверяется чтение, письмо, грамматика и словарный запас, понимание на слух, интервьюирование.
					li CAE (Certificate in Advanced English) – международный экзамен промежуточного уровня, состоящий из таких же частей как и предыдущий: Reading, Writing, English in Use, Listening и Speaking. Для получения сертификата необходимо дать минимум 60% правильных ответов, а чтобы добиться максимального высокого результата – 80%.
					li CPE (Certificate of Proficiency in English) – один из самых сложных кембриджских экзаменов, требующий усиленной подготовки. Успешная его сдача может означать, что вы владеете английским так же хорошо, как и коренной англичанин. Состоит он из тех же частей, что и предыдущие два международных теста. Оценивание осуществляется по той же шкале. Успешная сдача этого теста после эффективной подготовки к нему открывает вам двери любых высших учебных заведений с английским языком преподавания.
					li BEC (Business English Certificate) – серия из трех тестов соответствующих по уровню PET, FCE и CAE. Проверяется британский английский в деловом стиле. Для сдачи международных тестов необходимо дать правильные ответы минимум на 60% вопросов, чтобы получить проходной балл и 80% ответов для получения сертификата с отличием.
					li TOEFL – тест для неанглоязычных иностранцев для обязательного их поступления в зарубежные вузы. По результатам международного экзамена выдается сертификат сроком на 2 года. Тестирование включает четыре части: Reading, Writing, Listening, Speaking. Для получения оценки необходимо выполнить хотя бы по одному заданию из каждого раздела. Подготовка к международному экзамен по английскому языку TOEFL в школе Language Peak осуществляется на высоком профессиональном уровне.
			p Кроме перечисленных выше тестов сдаются и другие международные экзамены. Среди них необходимо выделить два кембриджских теста для начинающих КЕТ (Key English Test) и PET (Preliminary English Test), экзамены для детей (YLE Starters/Movers/Flyers) и для учителей английского языка.
			p Тестирование проводится в специальных аккредитованных центрах. Международные экзамены являются платными (6-7 тыс. рублей), а регистрация проводится в сжатые сроки задолго до их проведения. Сдать их без предварительной подготовки будет практически невозможно.
			h5 Преимущества обучения в школе Language Peak
			span Подготовка к тестированию в нашей школе имеет ряд преимуществ:
				ul.courses-list
					li Если вы собираетесь учиться за рубежом, тогда получение сертификатов TOEFL или IELTS является обязательным, и именно наша школа позволит вам получить тот уровень знаний, который необходим для успешной сдачи экзамена.
					li Использование современных средств обучения, аутентичных аудио- и видео-материалов, что помогает нашим студентам добиться максимально высоких результатов.
					li Доступная стоимость подготовки к тестам.
			h6
				a.block-prices-link(href="#") Посмотреть цены на обучение