footer.footer
	.container
		.footer-top
			.footer-menu
				p Меню
				hr
				a(href="") О нас
				a(href="") Цены
				a(href="") Услуги
				a(href="") Блог
				a(href="") Разговорный клуб
			.footer-contacts
				p Контакты
				hr
				.footer-contacts-item
					img(src="./images/svg/marker.svg", alt="")
					a(href="#") Н.Новгород, ул. Звездинка, 20Б
				.footer-contacts-item
					img(src="./images/svg/call.svg", alt="")
					a(href="#") 8 (831) 34-51-78
				.footer-contacts-item
					img(src="./images/svg/mail.svg", alt="")
					a(href="#") speakeasy@gmail.com
				.footer-contacts-item.socialblock
					a(href="")
						img.vk(src="./images/svg/vk.svg", alt="")
					a(href="")
						img.ift(src="./images/svg/instagram.svg", alt="")
					a(href="")
						img.ift(src="./images/svg/facebook.svg", alt="")
					a(href="")
						img.ift(src="./images/svg/twitter.svg", alt="")
		.footer-bottom
			hr
			p.copyright ©2019 - EasySpeak
			p pictures by Andrey Gordeev
			p icons by flaticon.com
