header.header
	.topmenu
		.top-menu-item
			img(src="", alt="")
			a(href="#") Н.Новгород, ул. Звездинка, 20Б
		.top-menu-item
			img(src="", alt="")
			a(href="#") 8 (831) 34 51 78
		.top-menu-item
			img(src="", alt="")
			a(href="#") speakeasy@gmail.com
		.top-menu-item
			a(href="")
				img(src="", alt="")
			a(href="")
				img(src="", alt="")
			a(href="")
				img(src="", alt="")
			a(href="")
				img(src="", alt="")
	.mainmenu

