header.header
	.topmenu
		.container
			.top-menu-item
				img(src="./images/svg/marker.svg", alt="")
				a(href="#") Н.Новгород, ул. Звездинка, 20Б
			.top-menu-item
				img(src="./images/svg/call.svg", alt="")
				a(href="tel:8-831-34-51-78") 8 (831) 34-51-78
			.top-menu-item
				img(src="./images/svg/mail.svg", alt="")
				a(href="mailto: speakeasy@gmail.com") speakeasy@gmail.com
			.top-menu-item.socialblock
				a(href="")
					img.vk(src="./images/svg/vk.svg", alt="")
				a(href="")
					img.ift(src="./images/svg/instagram.svg", alt="")
				a(href="")
					img.ift(src="./images/svg/facebook.svg", alt="")
				a(href="")
					img.ift(src="./images/svg/twitter.svg", alt="")
	.mainmenu
		.container
			.mainmenu-logobox
				a(href="index.html")
					img(src="./images/logo.png", alt="logo")
			.mainmenu-menubox
				a(href="aboutus.html") О нас
				a(href="") Цены
				a(href="") Услуги
				a(href="") Блог
				a(href="club.html") Разговорный клуб
				a.bttn(href="") Заказать звонок
