.container
	.article-title-wrap
		h3.traveler IELTS или TOEFL: выбираем экзамен на знание английского
	.articlewrap
		p Рассказ о двух самых главных международных экзаменах на знание английского языка, их сравнение и рекомендации по выбору. Выбирайте стратегически!
		img.block(src="images/articlesimg/ielts1.jpg", alt="picture")
		p Вы собираетесь сдать международный экзамен по английскому для работы, учебы или личностного развития? И, как витязь на распутье, не знаете, какой выбрать? Сегодня мы подробно остановимся на двух экзаменах, наиболее популярных среди тех, кто изучает английский для работы и учебы в англоязычных странах: TOEFL и IELTS.
		p Мы сравним эти экзамены, объясним, в чем состоят ключевые различия между ними и какой экзамен следует выбрать, чтобы выгодно обыграть ваши сильные стороны, утаив от экзаменаторов возможные пробелы в знаниях (а кто совершенен?).
		p Итак, вы изучали английский – самостоятельно, на курсах или с репетитором (возможно, c преподавателем по Скайпу). И настал момент проверить свои знания!
		p Для учебы или работы в англоязычной стране вам почти наверняка придется пройти один из двух самых признанных экзаменов на знание английского – The International English Language Test System (IELTS) или Test of English as a Foreign Language (TOEFL).
		p TOEFL или IELTS – какой из них выбрать, и на чем основывать свой выбор? В нашей статье мы приведем основные характеристики этих экзаменов и критерии выбора того из них, который будет наиболее соответствовать вашим целям и возможностям.
		p Начнем с того, что оба этих экзамена стоят примерно одинаково ($150-$250) и довольно точно определяют ваш уровень английского. К тому же, их результаты принимают в тысячах учебных заведений по всему миру. Но IELTS и TOEFL довольно ощутимо отличаются как подходом, так и структурой, поэтому перед тем, как сделать выбор, взвесьте все «за» и «против». А наша статья поможет вам определиться с критериями выбора.
		h6 Что такое IELTS
		p IELTS – экзамен на знание английского языка, который проверяет владение английским в области образования, иммиграции и трудоустройства. Его результаты принимают более 9000 высших учебных заведений в 130 странах мира. Проводимый совместно такими организациями, как British Council, University of Cambridge ESOL Examinations и IDP Education Australia, этот экзамен проводится на британском английском и с большей вероятностью подойдет для учреждений Великобритании, а также стран Британского Содружества (включая Австралию и Новую Зеландию). Экзамен существует в двух вариантах – Academic (академический) и General (общий), в зависимости от ваших образовательных или профессиональных целей.
		p В некоторых случаях сертификация IELTS требуется для получения канадской или австралийской иммиграционной визы.
		h6 Что такое TOEFL
		p Тест TOEFL проверяет вашу способность общаться на английском в рамках научно-исследовательской и образовательной тематики (так называемый «академический английский»). Его результаты принимают в 8500 учебных заведениях в 130 странах мира, включая Великобританию, США и Австралию, а также в ста лучших университетах мира.
		p Сертификация проводится под руководством американской Education Testing Service, поэтому экзамен проводится на американском варианте английского.
		img.block(src="images/articlesimg/ielts2.jpg", alt="picture")
		h6 Основные различия
		p Кроме того, что эти экзамены проводятся на разных вариантах английского (британском и американском), TOEFL подразумевает выбор ответа из нескольких предложенных вариантов, в то время как формат ответов IELTS гораздо более разнообразен. Тут и короткие ответы (True, False, Not given – «правда, ложь, неизвестно»), и подстановка недостающего слова, и написание небольших сочинений на заданную тему.
		p Сдача IELTS занимает гораздо меньшее время – 2 часа 40 минут против 4 часов сдачи TOEFL. Но TOEFL сдается в один день, а IELTS – в два (модуль «Устная речь» (Speaking) сдается отдельно).
		p Существует только одна компьютеризированная версия экзамена TOEFL, в то время как IELTS имеет 2 варианта (общий и академический), доступных и в бумажном формате.
		p Подробнее по модулям:
		p.bold Чтение (Reading)
		p TOEFL – 3-5 отрывков для чтения, 20 минут на каждый. Материалы для чтения на академическую тематику. Вопросы, задаваемые к отрывкам, предполагают выбор ответа из нескольких предложенных вариантов.
		p IELTS – 3 отрывка для чтения, 20 минут на каждый. Материалы для чтения также академической направленности. Вопросы предполагают различный формат ответа (подстановка недостающего слова, сопоставление и др.)
		p.bold Аудирование (Listening)
		p TOEFL – Отрывки, предлагаемые к прослушиванию, довольно заметно отличаются от тех, что входят в IELTS. В TOEFL предлагаются отрывки длительностью 40-60 минут – от лекций до разговоров в студенческом кампусе. По ходу экзамена вы можете делать записи, а после его окончания – отвечать на вопросы, выбирая из нескольких предложенных вариантов.
		p IELTS – Самое большое различие между двумя экзаменами состоит именно в модуле «аудирование». Задаваемые после прослушивания вопросы имеют несколько различных форматов. Вы видите вопросы с самого начала и можете на них отвечать по мере прохождения теста.
		p.bold Письмо (Writing)
		p TOEFL – Требуется выполнить два письменных задания (на компьютере). Первое задание – написать сочинение, состоящее из 5 параграфов (объемом от 300 до 350 слов).
		p Второе «интегрированное» задание предполагает прочтение текста и прослушивание лекции на ту же тему с последующим их сопоставлением. По ходу выполнения задания вы можете делать записи, которые можно использовать для написания письменного обобщения объемом 150-225 слов.
		p IELTS – Также предполагает выполнение двух заданий. Первое – написание короткого сочинения на 200-250 слов. Второе – описать инфографику (график или диаграмму).
		p.bold Устная речь (Speaking)
		p TOEFL – Вы должны будете прослушать короткие фрагменты текста или диалоги и устно ответить на 6 различных вопросов к прослушанным отрывкам, записав свои ответы на компьютер (ответ должен быть не короче 45 и не длиннее 60-ти секунд).
		p IELTS – В версии IELTS этот модуль занимает 12-14 минут и подразумевает личное общение с экзаменатором.
		p Первое подготовительное упражнение предполагает разговор на общие темы (рассказ о себе, о своей семье, о хобби и др.) в режиме «вопрос-ответ» (это займет ориентировочно 4-5 минут).
		p Второе упражнение более длительное и подразумевает рассказ на заданную тему (сама тема и тезисы вашего будущего рассказа определяются случайным образом). Ваш рассказ должен занять 1-2 минуты, после чего вам зададут один-два вопроса по теме.
		p В третьей части модуля экзаменатор будет задавать более общие вопросы. Ваша дискуссия будет длиться 4-5 минут.
		p.bold Подсчет баллов
		p В TOEFL модули Speaking и Writing оцениваются в зависимости от общего впечатления, которое вам удалось произвести на экзаменаторов: оценивается ваш словарный запас, стиль и грамматика письма.
		p При оценке этих модулей в рамках IELTS оценивается ваша логика, связность рассказа, знание грамматики и беглость речи.
		p К примеру, сочинение (эссе) с логическим развитием сюжета, но многочисленными грамматическими ошибками будет оценено выше при сдаче TOEFL, в то время как сочинение без грамматических ошибок и с более разнообразной лексикой, но менее наглядно выражающее основную идею получит более высокий балл в рамках IELTS.
		p IELTS оценивают по девятибалльной системе (от 1 до 9). При этом итоговый балл подсчитывается как среднее арифметическое баллов, полученных по всем четырем модулям (с шагом в полбалла). В TOEFL итоговая оценка только одна (максимум 120 баллов).
		img.block(src="images/articlesimg/ielts3.jpg", alt="picture")
		h6 Делаем выбор
		p Перед тем, как сделать выбор между двумя международными экзаменами, ответьте на следующие 7 вопросов:
			ul
				li Вам нужен английский язык для общения в академической среде?
				li Если экзамен требуется для поступления в учебное заведение или получения работы – какой из тестов примут в выбранном вами учреждении?
				li Какой вариант английского вы знаете лучше: британский или американский?
				li Быстро ли вы печатаете на компьютере?
				li Не сбивают ли вас с толку различные форматы заданий и ответов на них?
				li Вы предпочитаете предсказуемый тест или тест, допускающий возможность импровизации?
				li Вам комфортнее взаимодействовать с компьютером или общаться с экзаменатором вживую?
		p Рассмотрим ответы эти вопросы поподробнее:
		p.bold Вам нужен английский язык для общения в академической среде?
		p Если вам не нужен академический английский (для учебы в университете или работы в научно-исследовательском учреждении), однозначно выбирайте общий вариант IELTS (General IELTS). Это самый простой из экзаменов (если сравнивать его с TOEFL и с Academic IELTS).
		p.bold Если экзамен требуется для поступления в учебное заведение или получения работы – какой из тестов примут в выбранном вами учреждении?
		p Обязательно уточните, какой тест принимают в том или ином университете или компании. В США и Канаде это, как правило, TOEFL, в странах Британского Содружества и Европе – IELTS.
		p.bold Какой вариант английского вы знаете лучше: британский или американский?
		p Вы знаток «королевского английского» либо его австралийского варианта? Вам лучше сдавать IELTS.
		p Вам больше знаком американский английский, его произношение, лексика и идиомы? Выбирайте TOEFL.
		p.bold Быстро ли вы печатаете на компьютере?
		p Как вы уже поняли, полностью компьютеризированный TOEFL требует «написания» сочинения в электронном варианте – вам придется печатать его на клавиатуре.
		p Если у вас низкая скорость печати, вам рекомендуется сдавать IELTS – в нём эссе пишется от руки.
		p.bold Не сбивает ли вас с толку разнообразие форматов заданий и ответов на них?
		p Экзамен TOEFL почти полностью состоит из вопросов, ответы на которые вы выбираете из предлагаемых вариантов. И это довольно удобно для экзаменующихся.
		p И если вам тяжело дается переключение с одного формата заданий на другой, IELTS, с его разнообразием форматов, может вам не подойти.
		p.bold Вы предпочитаете предсказуемый тест или тест, допускающий возможность импровизации?
		p TOEFL, без сомнения, более предсказуем. IELTS, что называется, не даст вам скучать: сами задания и указания к ним все время разные, вам потребуется постоянно быть начеку, чтобы правильно понять, что от вас требуется. Кроме того, по этой же причине к TOEFL легче подготовиться.
		p.bold Вам комфортнее взаимодействовать с компьютером или общаться с экзаменатором вживую?
		p Очень большому числу экзаменующихся легче «общаться» с компьютером, чем с экзаменатором-человеком. Таким людям будет гораздо легче пройти модуль Speaking экзамена TOEFL, где устный ответ нужно записывать на компьютер – ведь создается ощущение, что тебя никто не видит и не слышит, и страх общения с носителем английского исчезает.
		p И, наоборот, для тех, кто легко находит общий язык с незнакомыми людьми, кто не боится задавать уточняющие вопросы, больше подойдет IELTS.
		p Каков бы ни был ваш выбор, надеемся, что результаты теста вас порадуют! Но для этого еще придется потрудиться.
		p Поэтому, не откладывая дело в долгий ящик, учите английский – и будьте успешны!
	.article-end-wrap
		h6.btnsize Чтобы получать<br>новые статьи,<br>подпишитесь на<br> e-mail рассылку
		h6.links Читайте также:
			ul
				li
					a(href="traveler.html")
						span Английский путешественникам
				li
					a(href="articlerezume.html")
						span Секреты составления резюме
	.blog-box-bttns.article
		a.bttn-yellow(href="") Подписаться
		a.bttn(href="")
			p Больше статей
			img(src="./images/png/arrow.png", alt="arrow")





