.slider
	.container
		.owl-carousel.owl-theme.owl-loaded#owl-slider
			.owl-stage-outer
				.owl-stage
					.owl-item.slider_1
						.slider_1-textbox
							p ПЕРВОЕ ЗАНЯТИЕ
							h1 БЕСПЛАТНО
							a.bttn-yellow(href="")
								p Записаться 
								img(src="./images/png/arrow_blue.png", alt="arrow_blue")
					.owl-item.slider_2
						.slider_2-textbox
							h1 ДЕМОКРАТИЧНЫЕ<br>ЦЕНЫ
							a.bttn(href="")
								p Подробнее
								img(src="./images/png/arrow.png", alt="arrow")
					.owl-item.slider_3
						.slider_2-textbox
							h1 ОБУЧЕНИЕ<br>С УДОВОЛЬСТВИЕМ
							a.bttn-yellow(href="")
								p Записаться 
								img(src="./images/png/arrow_blue.png", alt="arrow_blue")
			.owl-nav
				.my-owl-prev
					p <
				.my-owl-next
					p >
.container
	.courses
		h2 НАШИ КУРСЫ
		.courses-box
			a.courses-box-item(href="adult.html")
				p.p-courses Для взрослых
				img(src="./images/man.png", alt="man")
			a.courses-box-item(href="child.html")
				p Для детей и<br>пoдростков
				img(src="./images/girl.png", alt="girl")
			a.courses-box-item(href="exams.html")
				p Подготовка к<br>экзаменам
				img(src="./images/boy.png", alt="boy")
			a.courses-box-item(href="profcourses.html")
				p Специальный<br>английский
				img(src="./images/woman.png", alt="woman")
.why
	.container
		h2 ПОЧЕМУ МЫ?
		.why-box
			.why-box-item(href="")
				img(src="./images/svg/schedule.svg", alt="schedule")
				p Результативная<br>методика
			.why-box-item(href="")
				img(src="./images/svg/moneybag.svg", alt="moneybag")
				p Демократичные<br>цены
			.why-box-item(href="")
				img(src="./images/svg/portfolio.svg", alt="portfolio")
				p Лучшие<br>преподаватели
			.why-box-item(href="")
				img(src="./images/svg/smarthat.svg", alt="smarthat")
				p Обучение с<br>удовольствием
.container
	.reviews
		h2 ОТЗЫВЫ СТУДЕНТОВ
		.owl-carousel.owl-theme.owl-loaded#owl-carousel
			.owl-stage-outer
				.owl-stage
					.owl-item.review.review-blue
						.review-box
							img.review-img(src="./images/reviews/1.jpg", alt="")
							h3 Егор Смирнов
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque culpa cum earum eligendi nesciunt, ea hic fugit accusantium doloribus.
					.owl-item.review.review-yellow
						.review-box
							img(src="./images/reviews/2.jpg", alt="")
							h3 Анна Карамзина
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque culpa cum earum eligendi nesciunt, ea hic fugit accusantium doloribus.
					.owl-item.review.review-blue
						.review-box
							img(src="./images/reviews/3.jpg", alt="")
							h3 Владислав Глинка
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque culpa cum earum eligendi nesciunt, ea hic fugit accusantium doloribus.
					.owl-item.review.review-yellow
						.review-box
							img(src="./images/reviews/4.jpg", alt="")
							h3 Алиса Брусилова
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque culpa cum earum eligendi nesciunt, ea hic fugit accusantium doloribus.	
			.rev-owl-nav
				.rev-owl-prev
					p <
				.rev-owl-next
					p >
.club
	.container
		h2 КАЖДУЮ СУББОТУ В 19:00<br>МЫ ПРИГЛАШАЕМ ВАС НА<br>РАЗГОВОРНЫЙ КЛУБ!
		.club-box
			.club-box-item(href="")
				img(src="./images/svg/coffee.svg", alt="coffee")
				p Бесплатный чай<br>и печеньки
			.club-box-item(href="")
				img(src="./images/svg/home.svg", alt="home")
				p Уютная<br>атмосфера
			.club-box-item(href="")
				img(src="./images/svg/english.svg", alt="english")
				p Практика с<br>носителями языка
			.club-box-item(href="")
				img(src="./images/svg/balloons.svg", alt="balloons")
				p Тематические<br>вечера
		a.bttn(href="") Подробнее
.container
	.blog
		h2  ПОЛЕЗНЫЙ БЛОГ
		.blog-box
			a.blog-box-item(href="summary.html")
				p Секреты составления<br>резюме
				img(src="./images/articles/resume.jpg", alt="resume")
			a.blog-box-item(href="")
				p Памятка<br>путешественнику
				img(src="./images/articles/travels.jpg", alt="travels")
			a.blog-box-item(href="")
				p Разница между IELTS и TOEFL
				img(src="./images/articles/IELTSorTOEFL.jpg", alt="IELTSorTOEFL")
		.blog-box-bttns
			a.bttn-yellow(href="") Подписаться
			a.bttn(href="") 
				p Больше статей
				img(src="./images/png/arrow.png", alt="arrow")
.container
	iframe.map(src="https://yandex.ru/map-widget/v1/-/CGTWzAZU")