.container
	.pricetext
		h2 ЦЕНЫ И СКИДКИ
		.titlewrap
			table.discount
				thead
					tr
						<th class="size" colspan="2"> Скидки
				tbody
					tr
						td Парные заявки, поданные одновременно
						td.yellow 2%
					tr
						td Для продолжающих обучение — курсы 2; 3; 4; и далее
						td.yellow 7%
					tr
						td Для студентов (при предъявлении студенческого билета)
						td.yellow 10%
					tr
						td При 100% оплате полного курса
						td.yellow 5%
			table.price
				thead
					tr
						th
						th ПОЛНАЯ ГРУППА
						th МИНИГРУППА
						th ПАРНЫЕ ЗАНЯТИЯ
						th ИНДИВИДУАЛЬНО
				tbody
					tr
						td Кол-во студентов в группе
						td 6-8 чел.
						td 3-5 чел
						td 2 чел
						td 1 чел.
					tr
						<td class="yellow" colspan="5"> DIG DEEP (углубленный курс)
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 275₽
						td 420₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 160
						td 140
						td в индивид. порядке
						td в индивид. порядке