.container
	.pricetext
		h2 ЦЕНЫ И СКИДКИ
		.titlewrap
			table.title
				tr.big
					td Скидки
			table.discount
				tr
					td Парные заявки, поданные одновременно
					td.r 2%
				tr
					td Для продолжающих обучение — курсы 2; 3; 4; и далее
					td.r 7%
				tr
					td Для студентов (при предъявлении студенческого билета)
					td.r 10%
				tr
					td При 100% оплате полного курса
					td.r 5%
			table.price
				tr.title
					td
					td ПОЛНАЯ ГРУППА
					td МИНИГРУППА
					td ПАРНЫЕ ЗАНЯТИЯ
					td ИНДИВИДУАЛЬНО
				tr
					td Кол-во студентов в группе
					td 6-8 чел.
					td 3-5 чел
					td 2 чел
					td 1 чел.
			table.price
				tr.course
					td DIG DEEP (углубленный курс)
			table.price
				tr
					td Стоимость 1 академ. часа (45 минут)
					td 275₽
					td 420₽
					td 670₽
					td 1300₽
				tr
					td Количество академ. часов
					td 160
					td 140
					td в индивид. порядке
					td в индивид. порядке