.container
	.pricetext
		h2 ЦЕНЫ И СКИДКИ
		.wrap
			table.discount
				thead
					tr
						<th class="size" colspan="2"> Скидки
				tbody
					tr
						td Парные заявки, поданные одновременно
						td.yellow 2%
					tr
						td Для продолжающих обучение — курсы 2; 3; 4; и далее
						td.yellow 7%
					tr
						td Для студентов (при предъявлении студенческого билета)
						td.yellow 10%
					tr
						td При 100% оплате полного курса
						td.yellow 5%
			table.price
				thead
					tr
						th
						th ПОЛНАЯ<br>ГРУППА
						th МИНИ<br>ГРУППА
						th ПАРНЫЕ<br>ЗАНЯТИЯ
						th ИНДИВИД.
				tbody
					tr
						td Кол-во студентов в группе
						td 6-8 чел.
						td 3-5 чел
						td 2 чел
						td 1 чел.
					tr
						<td class="yellow" colspan="5"> DIG DEEP (углубленный курс)
					tr
						td Стоимость 1 ак. часа (45 мин.)
						td 275₽
						td 420₽
						td 670₽
						td 1300₽
					tr
						td Кол-во академ. часов
						td 160
						td 140
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 8 мес.
						td 7 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 43 950₽
						td 58 800₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 5 490₽
						td 8 400₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						<td class="yellow" colspan="5"> TEENAGE COURSE (для подростков)
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 275₽
						td 420₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 160
						td 140
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 8.5 мес.
						td 7 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 43 950₽
						td 58 800₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 5 170₽
						td 8 400₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						<td class="yellow" colspan="5"> KIDS COURSE (для детей)
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 350₽
						td 450₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 100
						td 100
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 8 мес.
						td 8 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 35 000₽
						td 45 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 4 375₽
						td 5 625₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						<td class="yellow" colspan="5"> Подготовка к ЕГЭ, FCE, CAE, TOEFL, IELTS, BEC
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 350₽
						td 450₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 120
						td 120
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 6 мес.
						td 6 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 42 000₽
						td 54 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 7 000₽
						td 9 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						<td class="yellow" colspan="5"> BUSINESS COURSE (бизнес-курс)
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 350₽
						td 450₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 120
						td 120
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 6 мес.
						td 6 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 42 000₽
						td 54 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 7 000₽
						td 9 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						<td class="yellow" colspan="5"> Spoken English (разговорный английский)
					tr
						td Стоимость 1 академ. часа (45 минут)
						td 350₽
						td 450₽
						td 670₽
						td 1300₽
					tr
						td Количество академ. часов
						td 120
						td 120
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Продолжительность курса
						td 6 мес.
						td 6 мес.
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Полная стоимость курса
						td 42 000₽
						td 54 000₽
						td в индивид.<br>порядке
						td в индивид.<br>порядке
					tr
						td Стоимость обучения в месяц
						td 7 000₽
						td 9 000₽
						td в индивид. порядке
						td в индивид. порядке
			h6 Работают утренние, дневные и вечерние группы. В стоимость входит двухступенчатый экзамен по четырем видам речевой деятельности (говорению, аудированию, чтению и письму) а также сертификат об окончании курса обучения.
			h6 Действует рассрочка платежа до 5 взносов без увеличения стоимости обучения.