.container
	.coursestext
		h2 ПРОФЕССИОНАЛЬНЫЕ КУРСЫ
		.titlewrap
			p Это новое направление в нашей школе, но оно уже набирает больную популярность у наших студентов.
			p Сейчас у нас есть два профессиональных курса: разговорный английский и бизнес-английский.
			h5 Зачем вам разговорный английский?
			span Причин довольно много:
				ul.courses-list
					li повсеместное распространение английского языка
					li для путешествий
					li если вы новичок в английском языке, то гораздо проще изучить самые распространенные правила и фразы разговорного общения, чтобы быстрее увидеть результаты и применить знания на практике, чем углубляться в грамматику
			p *набираются как взрослые, так и детские группы.
			h5 Зачем вам бизнес-английский?
			span Причин так же немало:
				ul.courses-list
					li владение бизнес-английским - конкурентное преимущество при устройстве на работу
					li повышение кваливикации
					li желание выйти на международных клиентов
			p *набираются предпочтительно взрослые группы .
			h5 Почему стоит учиться именно с нами?
			span 
				ul.courses-list
						li Обучение в школе проводится по специальной аудиолингвальной методике. Преимуществом метода является развитие основных языковых навыков – говорения и восприятия на слух, которые трудно формируются при использовании других методик.
						li Аудиолингвальный метод успешно применяется во многих учебных заведениях и университетах мира на протяжении 15 лет.
						li Мы постоянно развиваемся и совершенствуемся. На стадии развития находятся и други профессиональные курсы: английский для медработников, технический английский, английский для программистов и др.
			h6
				a.block-prices-link(href="#") Посмотреть цены на обучение