.container
	.article-title-wrap
		h3.traveler Английский по сериалам: «горячая» подборка!
	.articlewrap
		p Учите английский язык по сериалам. Трейлеры и словарик самых известных британских и американских сериалов прилагаются!
		img.block(src="images/articlesimg/seriales1.png", alt="picture")
		p Кто из нас не смотрит телевизор? Почти все хоть изредка да смотрят, верно? Не говоря уже о тех, кто считает свою жизнь неполной без «фона» из новостей, развлекательных программ, любимых сериалов… А что, если совместить приятное с полезным? Учите английский по сериалам.
			p.bold Смотрите любимые англоязычные сериалы в оригинале!
		h6 Подсядьте на сериал!
		p.bold «Подсесть» на сериал (to get hooked on a series) — отличный способ улучшить знания английского.
		p По наблюдениям, многие из тех, кто прекрасно говорит на иностранном языке, не будучи его носителями, смотрят сериалы именно на языке оригинала. Из иностранцев лучше всех в мире говорят по-английски жители Скандинавии и Нидерландов — практически на уровне носителей языка из Великобритании, США, Австралии и других англоязычных стран. Поинтересуйтесь у них, почему их английский настолько хорош, и вам ответят: причина — не в усиленных занятиях английским.
		img.block(src="images/articlesimg/seriales2.jpg", alt="picture")
		p Дело в том, что в этих странах не принято дублировать телесериалы — они идут в оригинальном озвучивании с субтитрами на местном языке. Поэтому
			p.bold жители таких государств, как Швеция и Дания где-то с пятилетнего возраста смотрят почти все телепередачи в оригинале и таким образом учат английский по сериалам и фильмам.
		p Многие говорят, что «не готовы смотреть сериала и фильмы на английском». Объясняют, что им нужно «побольше выучить», и вот тогда... Но это только отговорки. Можете начать изучение английского по сериалам с просмотра в оригинале с субтитрами на русском языке — но не позволяя им чрезмерно вас отвлекать.
		p Чем больше вы будете практиковаться в просмотре фильмов на английском, тем лучше будете знать язык, так что постепенно сможете перейти на просмотр сериалов уже с английскими субтитрами и, в конечном счете, совсем без субтитров.
		img.block(src="images/articlesimg/seriales3.png", alt="picture")
		p А лучше всего то, что сериалы на английском языке помогают узнать английский, на котором говорят в реальной жизни. Вы начнете изучать язык повседневного общения — не официально-стандартизированный английский из учебника, который наверняка учили в школе (его тоже нужно знать, но на одних учебниках далеко не уедешь). Плюс к тому, такая учеба легко станет приятной привычкой.
		p Изучение именно английского языка дает вам одно неоспоримое преимущество: Голливуд — крупнейший в мире производитель фильмов и сериалов, так что выбор огромен! Процесс изучения английского по сериалам может стать по-настоящему увлекательным.
		p На самом деле, выбор даже слишком велик. В нашей статье мы попытаемся его сузить: поговорим о 10 популярных сериалах на английском, вышедших на экраны в последние годы, разных жанров, британских и американских, захватывающих и полезных — а значит, с каждой серией ваш английский будет совершенней!
		img.block(src="images/articlesimg/seriales4.png", alt="picture")
		h5.seriales Наша подборка сериалов на английском, с которыми вы полюбите этот язык
		p К каждому сериалу прилагается словарик — наверняка в ходе просмотра он вам пригодится. Выберите сериал, который интересен именно вам и изучайте английский по сериалам. Гарантируем: вы сможете смотреть его с английскими субтитрами и понимать происходящее!
		p Отнеситесь к этому списку как к справочному руководству. Сначала посмотрите, на какой уровень рассчитан каждый сериал, на какие они темы и каких жанров, затем прочитайте описания тех сериалов, которые вас заинтересовали, и посмотрите их трейлеры. Когда остановите свой выбор на одном-двух, постарайтесь найти их в нужном формате (с субтитрами на русском, на английском или без субтитров).
		p Приступим!
		h6 1. «Время приключений» (Adventure Time) и «Храбрейшие воины» (Bravest Warriors)
		p <b>Необходимый уровень владения английским:</b> начальный
		p <b>Страна:</b> США
		p <b>Тема:</b> подростки, анимация
		p <b>Жанр:</b> комедия, приключения
		p Чтобы насладиться этими сериалами, вам определенно понадобится живое воображение!
		p В них не слишком сильная сюжетная линия, но это не делает их менее замечательными. «Время приключений» и «Храбрейших воинов» создал Пендлтон Уорд (Pendleton Ward). Первый мультсериал показывали на Cartoon Network, второй доступен только на YouTube. «Время приключений» выиграл несколько наград, включая «Эмми».
		p Так что делает мультфильмы Уорда особенными? С первого раза «Время приключений» может не понравиться. Но попробуйте посмотреть подольше — вы обязательно «проникнетесь», а потом и «подсядете» — и уже не сможете пропустить ни серии!
		p Во-первых, хотя это и мультфильм, но не детский мультфильм. В нем много отсылок, понятных лишь взрослому, а некоторые серии под видом забавных приключений поднимают весьма серьезные темы.
		p Во-вторых, серии в обоих мультсериалах короткие — от 5 до 10 минут. Так что серии хватает как раз на одну чашечку кофе (мы ведь совмещаем приятное с полезным?).
		p Мультсериал «Время приключений» породил свою культуру и язык. Пусть искусственные сленговые словечки вроде “mathematical” или “radical” вам не пригодятся в вашем повседневном лексиконе, знание этих слов сделает вас частью целого сообщества, возникшего благодаря этим двум мультсериалам.
		p И конечно, из этих мультфильмов вы подчерпнете массу полезных английских выражений!
		p.bold Словарь:
		p <b>Algebraic («алгебраичный») — слово описывает нечто замечательное или крутое (только в сериале «Время приключений»!)
		p <b>To be all about (something)</b> — очень любить что-то (например, “I’m all about learning English” означает «Я обожаю учить английский» или “My dad is all about cars” — «Мой отец без ума от автомобилей»)
		p <b>Gut</b> — то же, что и живот (разг.)
		p <b>Lump (exp)</b> — слово, которое демонстрирует ваше недовольство чем-л. (например, “What the lump!?” — что-то вроде «Что за ерунда?!»; только в сериале «Время приключений», в обычном английском это слово означает «большой кусок», «груда»)
		p <b>Mathematical («математичный»)</b> — слово описывает нечто потрясающее (только в сериале «Время приключений»)
		p <b>Nerd («ботан»)</b> — тот, кто слишком много учится или не умеет модно одеваться
		p <b>Radical («радикальный»)</b> — слово описывает нечто особенно выдающееся
		p <b>Weak</b> — что-то плохое (например, “That’s weak!” — «Это плохо!»)
		h6 2. «Во все тяжкие» (Breaking Bad)
		p <b>Необходимый уровень владения английским:</b> выше среднего
		p <b>Страна:</b> США
		p <b>Тема:</b> наркотики и преступность
		p <b>Жанр:</b> драма
		p Вы наверняка уже слышали, что «Во все тяжкие» — один из самых популярных сериалов всех времен и народов? И так его называют по праву! «Во все тяжкие» рассказывает историю Уолта Уайта, учителя химии в старшей школе, которому ставят диагноз «рак легких». Чтобы обеспечить семью и оплачивать медицинские счета, Уолт с бывшим учеником решают начать производство и продажу метамфетамина.
		p Сериал уникален. Он поднимает тему-табу (которую считается неприемлемым обсуждать) и содержит невероятные, сумасшедшие повороты сюжета, из-за чего прекратить его смотреть совершенно невозможно.
		p «Во все тяжкие» попал в «Книгу рекордов Гиннесса» как телесериал с самым высоким рейтингом, получив 99 баллов из 100. Поэтому, если вы ничего не имеете против подобной тематики, обязательно попробуйте его посмотреть и выучить английский по этому сериалу! А если вы вдобавок к английскому учите испанский, просмотр станет для вас дополнительной языковой практикой.
		p.bold Словарь:
		p <b>Cerebral Palsy (CP)</b> — церебральный паралич, заболевание, проявляющееся в нарушении двигательных функций и мышечного тонуса
		p <b>Dope</b> — сл. марихуана
		p <b>Drug dealer</b> — тот, кто продает запрещенные законом наркотики
		p <b>Meth («мет»)</b> — метамфетамин, нелегальный наркотик, синтезированный из химических веществ. Очень опасен, так как быстро вызывает привыкание; один из самых проблемных наркотиков в США на сегодняшний день.
		p <b>Pipe</b> — курительная трубка
		p <b>Pot</b> — сл. марихуана
		p <b>Shady</b> - (темный, нечистый, тайный), этим словом описывают то, что выглядит аморально или незаконно
		p <b>Sketchy</b> — незаслуживающий доверия
		p <b>Weed</b> — сл. марихуана (Под названием «Weeds» был выпущен еще один интереснейший сериал со сходным сюжетом: на русский его название переводят «Косяки» или «Дурман». Кстати, а вы знали, что названия англоязычных сериалов, как правило, многозначны? Слово weeds в данном случае означает также вдовий траур — речь в сериале идет о вдове, которая, оказавшись в нужде после гибели мужа, решает податься в наркоторговцы. Что из этого вышло? Смотрите и слушайте сами — на английском!)
		h6 3. «Декстер» (Dexter)
		p <b>Необходимый уровень владения английским:</b> средний
		p <b>Страна:</b> США
		p <b>Тема:</b> убийства, преступления
		p <b>Жанр:</b> триллер, саспенс
		p «Декстер» — увлекательная напряженная драма. В центре сюжета — весьма необычный человек по имени Декстер, который, пережив в детстве смерть матери, живет с маниакальным желанием убивать. Приемный отец Декстера, офицер полиции, учит его использовать свою ужасную потребность во благо (насколько это вообще может быть возможно) и наказывать смертью только других убийц, отнимающих человеческие жизни без причины. Он также учит Декстера, что убивать можно только тех, в чьей вине ты абсолютно уверен. Так что каждый раз Декстер предпринимает все возможное, чтобы убедиться, что его будущая жертва — и в самом деле кровавый преступник.
		p Некоторые считают «Декстера» сериалом о современном Робин-Гуде, несущем справедливое возмездие. Но это определенно тяжелый, «темный» фильм, который лучше смотреть с включенным светом. Изучая английский по сериалу «Декстер» вы будете следить за происходящим затаив дыхание, ведь «Декстер» полон великолепных сюжетных поворотов. И кровавых сцен.
		p.bold Словарь:
		p <b>Creepy</b> — жуткий
		p <b>To deserve</b> — заслуживать чего-либо (например, “He deserved to be killed” — «Он заслуживал того, чтобы его убили»)
		p <b>Murder</b> — умышленное убийство, убивать
		p <b>Serial killer</b> — серийный убийца
		p <b>Vengeance</b> — возмездие,  месть
		p <b>Villain</b> — злодей, плохой человек
		h6 4. «Игра престолов» (Game of Thrones)
		p <b>Необходимый уровень владения английским:</b> продвинутый
		p <b>Страна:</b> Великобритания
		p <b>Тема:</b> средневековое фэнтези
		p <b>Жанр:</b> экшн, драма, интриги
		p Сериал «Игра престолов» снят по сюжету культовой серии книг под названием «Песнь льда и пламени» Джорджа Р.Р. Мартина.
		p Сериал (и книги) понравятся тем, кто любит экшн, страсть, фэнтези, исторические романы и захватывающие повороты сюжета. Действие «Игры престолов» разворачивается в условное средневековье. Сериал следит за судьбами многих удивительных персонажей и «игрой», то есть борьбой за престол королевства Вестерос.
		p В «Игре престолов» потрясающий сюжет: серии идут около часа каждая, но в это сложно поверить — смотрятся они на едином дыхании.
		p Если у вас живое воображение и вы любите книги и фильмы вроде «Властелина колец», то учить английский по сериалу «Игра престолов» вам понравится. Если же вы реалист, то, возможно, этот сериал не для вас…
		p.bold Словарь:
		p <b>Armor</b> — доспехи, металлическое облачение, надеваемое для защиты от оружия
		p <b>Blade</b> — клинок
		p <b>Dire wolf</b> — «ужасный волк», огромный родственник обычного волка, вымерший 10 тысяч лет назад
		p <b>Dragon</b> — дракон, мифическое создание, похожее на ящерицу, летающее и изрыгающее огонь
		p <b>Dwarf</b> — карлик, человек аномально низкого роста
		p <b>Imp</b> — бесенок, ребенок-шалун, злой дух
		p <b>Iron</b> — железо; использовалось для изготовления оружия и доспехов в средневековье
		p <b>Knight</b> — рыцарь, средневековый солдат, имеющий лошадь и носящий доспехи
		p <b>Lord/Lady</b> - (лорд/леди), титул мужчины или женщины, наделенных землями и властью
		p <b>Realm</b> — королевство
		p <b>Sword</b> — меч
		p <b>Throne</b> — королевский трон
		p <b>Treason</b> — измена, государственное преступление, предательство
		h6 5. «Отбросы» (Misfits)
		p <b>Необходимый уровень владения английским:</b> ниже среднего
		p <b>Страна:</b> Великобритания
		p <b>Тема:</b> современные супергерои
		p <b>Жанр:</b> драма, экшн, интриги
		p «Отбросы» — сериал на английском про группу молодых людей, приговоренных к общественным работам за совершение мелких правонарушений. Однажды, во время грозы, главных героев (они же «отбросы») поражает молнией. Когда они приходят в себя, то обнаруживают, что у каждого из них появилась суперсила, вроде способности становиться невидимым или читать мысли.
		p Сериал рассказывает про разнообразные препятствия, которые приходится преодолевать героям после обретения суперсилы. Повествование захватывает, так что вы стопроцентно не сможете оторваться от экрана.
		p Также изучение английского по этому сериалу даст вам возможность услышать несколько типичных английских акцентов (и научиться виртуозно сквернословить на английском).
		p.bold Словарь:
		p <b>Community service</b> — общественные работы, которые гражданин выполняет для района, в котором живет, добровольно или по решению суда
		p <b>Misfits</b> — «отбросы», мелкие правонарушители, асоциальные элементы
		p <b>Rubbish</b> — вздор, чепуха (например, “That’s rubbish!” — «Вздор!»)
		p <b>Storm</b> — гроза, шторм
		p <b>Superpower</b> — суперсила; сила, которая помогает делать вещи, недоступные человеку (например, летать, силой мысли управлять предметами, путешествовать во времени)
		h6 6. «Американская семейка» (Modern Family)
		p <b>Необходимый уровень владения английским:</b> выше среднего
		p <b>Страна:</b> США
		p <b>Тема:</b> жизнь эксцентричной американской семьи
		p <b>Жанр:</b> комедия
		p «Американская семейка» — это уморительный комедийный сериал, доказывающий, что традиционная американская семья полностью изменилась, и показывающий, какая семья, вероятно, считается «типичной» сегодня.
		p Современная «американская семейка» состоит из дедушки, Джея Притчетта, который женат на знойной и эксцентричной красотке-колумбийке. У нее есть сын, большой (буквально) романтик, который любит поэзию и носит костюмы и галстуки. А у Джея есть взрослые сын и дочь. Сын — гей; у него есть партнер и приемный ребенок из Вьетнама. Дочь, которая изо всех сил пытается быть идеальной матерью семейства, замужем за человеком чудаковатым, но надежным и милым; у них трое развеселых детей.
		p Как видите, семейка подобралась довольно разношерстная, что делает фильм интересным и смешным. На самом деле, сериал рассказывает про не совсем типичную семью. Изучение английского по сериалу «Американская семейка» позволит глубже взглянуть на американскую культуру и на то, насколько изменилась семейная жизнь за последние десятилетия. Но берегитесь: сериал затягивает, вы можете надолго выпасть из реальной жизни. Мы вас предупредили!
		p.bold Словарь:
		p <b>To adopt</b> — усыновить, удочерить (ребенка)
		p <b>Black sheep</b> — «черная овца» (она же «белая ворона») —  тот, кто не вписывается в группу
		p <b>Ditzy</b> — легкомысленный, глуповатый, рассеянный
		p <b>Goofball</b> — недалекий, чудаковатый человек, дурак
		h5.seriales Смотрите сериалы на английском и учитесь!
		p Учить английский по сериалам — это один из самых увлекательных способов выучить язык, на котором говорят в реальной жизни.
		p Поэкспериментируйте с несколькими сериалами. Найдите тот, который вас захватит, и посмотрите его от начала до конца.
		p.bold И помните: вам не нужно уметь распознавать каждое сказанное слово, сначала просто пытайтесь понять, что происходит на экране. Действуйте поэтапно. Самым эффективным продолжением просмотра будет ознакомление с транскриптом (подробным сценарием) каждой серии. Пойдите дальше: выпишите и выучите наизусть незнакомые слова, чтобы приступить к новой серии с более полным вокабуляром. Шаг за шагом, ступенька за ступенькой и вершины английского вам покорятся!
	.article-end-wrap
		h6.btnsize Чтобы получать<br>новые статьи,<br>подпишитесь на<br> e-mail рассылку
		h6.links Читайте также:
			ul
				li
					a(href="articlerezume.html")
						span Секреты составления резюме
				li
					a(href="ielts.html")
						span IELTS или TOEFL
	.blog-box-bttns.article
		a.bttn-yellow(href="") Подписаться
		a.bttn(href="")
			p Больше статей
			img(src="./images/png/arrow.png", alt="arrow")