.container
	.summarytext
		h2 ВСЕ СЕКРЕТЫ СОСТАВЛЕНИЯ ХОРОШЕГО РЕЗЮМЕ
		.titlewrap
			p
			h5.center От правильности составления резюме зависит успех вашего устройства на работу. Секреты, советы, нюансы – читайте и покоряйте карьерные вершины!
			p
			p Хорошее резюме просто необходимо при поиске работы, особенно, когда на одну и ту же должность претендует множество кандидатов. Что же в нем следует писать?
			p Идеального образца резюме не существует, и в разных ситуациях может потребоваться подчеркнуть различные его аспекты, будь то образование или опыт работы. 
				span.bold Если вы пишете резюме на определенную вакансию, оно должно быть составлено конкретно для этой должности.
			p Прочитайте пять-шесть схожих объявлений и сопоставьте указанные в них требования. Проведите некоторое исследование, чтобы понять, что нужно работодателям.
			p Если же вы просто ищете работу и рассылаете резюме в агентства по трудоустройству, тогда оно должно быть как можно более подробным и развернутым.
			p Так или иначе, существует несколько общих правил и принципов того, как должно быть написано резюме и какую информацию в него стоит включать.
			p 
				span.bold Прежде всего, оно должно быть коротким – не более двух страниц формата А4, лучше пронумерованных.
			p Оно должно ясно и объективно описывать ваши достижения и сильные стороны и создавать о вас положительное впечатление.
			img(src="images/summary/02.png", alt="")
			p Итак, рассмотрим, что включает в себя резюме:
			h5 Заголовок (Header)
			p Нужно отметить, что 
				span.bold в Британии резюме называют curriculum vitae (CV)
					span , в переводе с латыни – «ход жизни». В США и Канаде CV используется чаще в научных кругах и представляет собой действительно подробное и всеобъемлющее описание профессиональной жизни кандидата (вспоминается «Автобиография», которую требовалось заполнять в отделе кадров в советские годы). Для обычного же резюме используется термин résumé.
			h6
			h5 Личные данные (Personal details)
			p
				span.bold Обязательно укажите свое имя, адрес и контактные данные – телефон, email.
			p Указывать ли пол, возраст, семейное положение и национальность – решать вам. Работодатель должен оценивать ваши навыки и способности без этой информации.
			h6
			h5 Цель (Objective)
			p Укажите, на какую вакансию вы претендуете, с кодом (при наличии), например: Software Tester (ST15/4).  
			h6
			h5 Краткая справка (Profile / Summary)
			p Опишите ваши сильные стороны – навыки, личные качества, достижения, опыт работы (кратко). Здесь же можно указать ваши цели в карьере (в США этому пункту уделяют большое внимание).
			p Справка должна занимать не больше нескольких строк и сразу привлекать внимание. К примеру, если должность требует постоянной работы с людьми, можно указать, что вы умеете работать в команде и обладаете хорошими навыками общения. Будьте лаконичны – примеры вы сможете привести в дальнейших разделах.
			h6
			h5 Опыт работы (Employment history / Work experience)
			p
				span.bold Если у вас большой опыт работы, начните с этой секции. Если опыта у вас пока недостаточно, сначала напишите о своем образовании.
			p Рекомендуется начать с самого недавнего места работы и двигаться в обратном порядке. Укажите название организации, период работы, должность и ваши основные обязанности. Подробнее опишите ту работу, которая имеет отношение к нынешней вакансии, приведите примеры применения своих навыков, упомяните достижения. Используйте маркированные списки для удобства чтения.
			p Постарайтесь подчеркнуть соответствие ваших навыков и опыта указанной вакансии. Также упомяните какую-либо временную или волонтерскую работу, если она имеет отношение к делу.
			p Избегайте необъясненных пробелов в вашей истории трудоустройства. Если вы долгое время путешествовали, находились в поиске работы или заботились о родственнике, укажите это.
			img(src="images/summary/03.png", alt="")
			p
				span.bold Образование (Education)
			p Аналогично, начните с последнего и двигайтесь в обратном порядке. Укажите школы, колледжи, университеты, в которых вы обучались, даты получения дипломов и/или ученых степеней. Упомяните семинары, тренинги, курсы повышения квалицикации если они имеют отношение к работе. Для оформления используйте маркированный список или таблицу.
			p Также здесь вы можете описать свои хобби, интересы и достижения, имеющие отношение к работе, однако это необязательно.
			h6
			p
				span.bold Интересы и достижения (Interests and achievements)
			p Например, если вы состоите в каком-либо клубе или обществе, это может показать, что вы любите знакомиться с новыми людьми. Не стоит писать, что вы любите готовить или читать книги – это слишком общие увлечения, не представляющие интереса для работодателя. 
				span.bold Указывайте только конкретное и важное.
			h6
			p
				span.bold Дополнительная информация (Additional information)
			p Вы можете включить в резюме эту секцию, если вам нужно добавить что-то еще – например, объяснить большой перерыв в трудоустройстве, обусловленный путешествиями или семейными причинами. Сюда же можно включить прочие навыки, которые могут оказаться полезны, например, умение водить машину или владение иностранными языками.
			h6
			p
				span.bold Рекомендации (References)
			p Укажите людей, которые могут дать вам рекомендацию. Желательно, чтобы как минимум один из них имел отношение к вашему предыдущему месту работы. Если вы еще нигде не работали, укажите преподавателя или человека, под руководством которого проходили практику.
			p Если вы не хотите сразу сообщать контактные данные других людей, можно ограничиться фразой: References: available upon request («Рекомендации доступны по требованию»).
			h6
			p
				span.bold Оформление резюме
			p Оформление резюме играет огромную роль. Оно должно быть простым, строгим и с первой же секунды создавать о вас впечатление как о профессионале. Используйте стандартный, хорошо читаемый шрифт и четкую разбивку на секции. Стиль оформления должен быть везде одинаков.
			p Проверяйте и перепроверяйте правильность написанного текста. 
				span.bold Орфографические и грамматические ошибки – скорейший способ получить отказ.
			h6
			p
				span.bold В дополнение к резюме рекомендуется написать сопроводительное письмо (cover letter), оно поможет вам привлечь внимание работодателя. В письме укажите, почему вас интересует именно эта вакансия, сообщите краткие сведения о себе, опишите свои преимущества как кандидата. Объем письма не должен превышать полстраницы.