.container
	.article-title-wrap
		h3.traveler 100 ПОЛЕЗНЫХ ПУТЕШЕСТВЕННИКУ ФРАЗ НА АНГЛИЙСКОМ
	.articlewrap
		h6.center Есть фразы, которые могут пригодиться в любой стране и в любой ситуации -изучая язык самостоятельно или на курсах английского, мы в первую очередь должны обратить внимание на те выражения, которые, зачастую, помогают нам выжить,- в прямом смысле этого слова, - в незнакомых условиях.
		p Ниже приведены простые английские слова и выражения, которые помогут вам не заблудиться в незнакомом месте, попросить о помощи или самому оказать помощь, или же просто проявить вежливость.
		img.block.traveler(src="images/articlesimg/traveler1.jpg", alt="picture")
		h6.traveler Способы приветствия
		table
			tbody
				tr
					td Hello
					td Здравствуйте!
				tr
					td Hi
					td Привет!
				tr
					td Good morning
					td Доброе утро!
				tr
					td Good afternoon
					td Добрый день!
				tr
					td Good evening
					td Добрый вечер!
		h6.traveler Способы прощания
		table
			tbody
				tr
					td Goodbye
					td До свидания!
				tr
					td Bye
					td Пока!
				tr
					td Good night
					td Спокойной ночи!
				tr
					td See you
					td До встречи!
				tr
					td Have a nice day
					td Хорошего дня!
		h6.traveler Слова вежливости
		table
			tbody
				tr
					td Please
					td Пожалуйста
				tr
					td Thank you/Thanks
					td Спасибо
				tr
					td Thank you very much
					td Большое спасибо
				tr
					td You're welcome
					td Пожалуйста/ в ответ на "спасибо"
				tr
					td Don't mention it
					td Не стоит благодарности
				tr
					td Not at all
					td Не за что
				tr
					td I’m sorry/ Sorry
					td Извините
				tr
					td Excuse me
					td Простите/ также используется для привлечения внимания
				tr
					td No problem
					td Ничего страшного
				tr
					td It's ok или That's ok
					td Все в порядке
				tr
					td Don't worry about it
					td Не стоит беспокойства
		h6.traveler Как лучше понять собеседника и самому быть понятым
		table
			tbody
				tr
					td Do you speak English?
					td Вы говорите по-английски?
				tr
					td I don't speak English
					td Я не говорю по-английски
				tr
					td I speak a little English
					td Я немного говорю по-английски
				tr
					td Please speak more slowly
					td Пожалуйста, говорите помедленнее
				tr
					td Could you please repeat that?
					td Повторите, пожалуйста
				tr
					td Could you please spell that?
					td Продиктуйте по буквам, пожалуйста
				tr
					td How do you say ... in English?
					td Как по-английски будет ...?
				tr
					td How do you spell that?
					td Как это пишется?
				tr
					td How do you pronounce this word?
					td Как произносится это слово?
				tr
					td I understand
					td Я понимаю
				tr
					td I don't understand
					td Я не понимаю
		h6.traveler Как спросить или подсказать дорогу
		img.block.traveler(src="images/articlesimg/traveler2.jpg", alt="picture")
		table
			tbody
				tr
					td Could you tell me how to get to the ...?
					td Вы не подскажете, как добраться до…?
				tr
					td Do you know where the ... is?
					td Вы не знаете, где находится…?
				tr
					td How far is the…?
					td Как далеко до…?
				tr
					td airport
					td аэропорт
				tr
					td train station
					td железнодорожный вокзал
				tr
					td bus station
					td автобусная станция
				tr
					td Can you show me on the map?
					td Вы можете показать мне на карте?
				tr
					td I'm looking for this address
					td Я ищу этот адрес
				tr
					td It's this way
					td Это сюда
				tr
					td It's that way
					td Это туда
				tr
					td You're going the wrong way
					td Вы идете не в ту сторону
				tr
					td Take this road
					td Следуйте по этой дороге
				tr
					td Turn left
					td Поверните налево
				tr
					td Turn right
					td Поверните направо
				tr
					td Go straight ahead
					td Идите прямо
				tr
					td Take the first turn on the left
					td Поверните на первом повороте налево
				tr
					td Take the second turn on the right
					td Поверните на втором повороте направо
				tr
					td Turn left at the crossroads
					td На перекрестке поверните направо
				tr
					td Continue straight ahead
					td Продолжайте идти (ехать) прямо
				tr
					td Continue past the post office
					td Проходите/ проезжайте мимо здания почты
				tr
					td You'll pass a park on your left
					td Слева будет парк
				tr
					td Keep going for another…
					td Пройдите еще…
				tr
					td two hundred yards
					td двести ярдов/ 1 ярд ≈ 0,9 м
				tr
					td hundred metres
					td сто метров
				tr
					td half-mile
					td полмили/ 1 миля ≈ 1,6 км
				tr
					td kilometre
					td километр
				tr
					td It'll be…
					td Это будет ...
				tr
					td on your left
					td слева
				tr
					td on your right
					td справа
				tr
					td straight ahead of you
					td прямо перед вами​
		h6.traveler Другие вопросы
		table
			tbody
				tr
					td What's this?
					td Что это?
				tr
					td What's this called?
					td Как это называется?
				tr
					td Have you got a minute?
					td У вас есть минутка?
				tr
					td Can you help me?
					td Вы не могли бы мне помочь?
				tr
					td May I borrow your pen?
					td Я могу позаимствовать вашу ручку?
				tr
					td May I use your phone?
					td Я могу воспользоваться вашим телефоном?
		h6.traveler Наиболее распространенные знаки
		table
			tbody
				tr
					td Entrance
					td Вход
				tr
					td Exit
					td Выход
				tr
					td Emergency exit
					td Запасной выход
				tr
					td Push
					td От себя
				tr
					td Pull
					td На себя
				tr
					td WC
					td Tуалет
				tr
					td Out of order
					td Не работает
				tr
					td No smoking
					td Не курить
				tr
					td Private
					td Частная собственность
				tr
					td No entry
					td Вход воспрещен
		h6.traveler Фразы для чрезвычайных ситуаций
		p.bold Надеемся, что вам не пригодятся фразы, находящиеся в этом разделе, но знать их все же следует. Также стоит запомнить телефоны службы спасения — 911 в США и Канаде и 999 в Великобритании.
		table
			tbody
				tr
					td Help!
					td Помогите!
				tr
					td Be careful!
					td Будьте осторожны!
				tr
					td Look out! или watch out!
					td Осторожно!
				tr
					td Is anything wrong?
					td Что-то не так?
				tr
					td What's the matter?
					td В чем дело?
				tr
					td Is everything ok?
					td Все в порядке?
				tr
					td What's going on?
					td Что происходит?
				tr
					td What happened?
					td Что случилось?
				tr
					td Are you ok?
					td Вы в порядке?
				tr
					td Is everyone ok?
					td Все целы?
		h6.traveler Медицинские проблемы
		img.block.traveler(src="images/articlesimg/traveler3.jpg", alt="picture")
		table
			tbody
				tr
					td I need help
					td Мне нужна помощь
				tr
					td I need a doctor
					td Мне нужен врач
				tr
					td Call an ambulance!
					td Вызовите скорую!
				tr
					td There's been an accident
					td Произошел несчастный случай
				tr
					td I've cut myself
					td Я порезался
				tr
					td I've burnt myself
					td Я обжегся
				tr
					td I’ve hurt my…
					td Я повредил…
				tr
					td leg
					td ногу
				tr
					td arm
					td руку
				tr
					td head
					td голову
		h6.traveler Теперь вы можете смело отправляться в кругосветное путешествие!
	.article-end-wrap
		h6.btnsize Чтобы получать<br>новые статьи,<br>подпишитесь на<br> e-mail рассылку
		h6.links Читайте также:
			ul
				li
					a(href="articlerezume.html")
						span Секреты составления резюме
				li
					a(href="")
						span IELTS или TOEFL
	.blog-box-bttns.article
		a.bttn-yellow(href="") Подписаться
		a.bttn(href="")
			p Больше статей
			img(src="./images/png/arrow.png", alt="arrow")